img {
  width: 400px;
  height: 200px;
}

.slider {
  width: 400px;
  height: 200px;
  position: relative;
  margin-bottom: 10px;
}

.slider__01,
.slider__02,
.slider__03,
.slider__04,
.slider__05 {
  position: absolute;
}
.slider__bg {
  position: absolute;
  width: 400px;
  height: 200px;
  background-color: black;
  z-index: 0;
}

.btn__div {
  text-align: center;
  width: 400px;
}

/*function*/
.showing {
  z-index: 1;
  animation: fadeIn 0.5s linear;
}

/*animation*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
